/**
@TODO: Renombrar las clases mas respectivas
ver componente SectionHero y volver componentes
**/

.cwSELo {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-top: 35vh solid rgb(240, 230, 246);
    top: 0px;
    border-right: 95vw solid transparent;
    left: 0px;
}

@media only screen and (min-width: 768px) {
    .cwSELo {
        border-top-width: 80vh;
        border-right-width: 60vw;
    }
}

/************/ 
/************/ 

.jWkhCU {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-top: 38vh solid rgb(255, 64, 129);
    top: 0px;
    border-right: 50vw solid transparent;
    left: 0px;
}

@media only screen and (min-width: 768px){
    .jWkhCU {
        border-top-width: 80vh;
        border-right-width: 35vw;
    }
}

/************/ 
/************/ 

.dguTMa {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-top: 25vh solid rgb(124, 55, 173);
    top: 0px;
    border-left: 75vw solid transparent;
    right: 0px;
}


@media only screen and (min-width: 768px) {
    .dguTMa {
        border-top-width: 35vh;
        border-left-width: 60vw;
    }
}
/************/ 
/************/ 

.coWLrL {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-bottom: 20vh solid rgb(240, 230, 246);
    bottom: 0px;
    border-left: 100vw solid transparent;
    right: 0px;
}

@media only screen and (min-width: 768px) {
    .coWLrL {
        border-bottom-width: 20vh;
        border-left-width: 100vw;
    }
}

/************/ 
/************/ 

.cMJain {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-bottom: 50vh solid rgb(255, 64, 129);
    bottom: 0px;
    border-right: 50vw solid transparent;
    left: 0px;
}

@media only screen and (min-width: 768px) {
    .cMJain {
        border-bottom-width: 20vh;
        border-right-width: 50vw;
    }
}
/************/ 
/************/ 

.jxmeTQ {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-top: 20vh solid rgb(124, 55, 173);
    top: 0px;
    border-left: 75vw solid transparent;
    right: 0px;
}

@media only screen and (min-width: 768px){
    .jxmeTQ {
        border-top-width: 40vh;
        border-left-width: 70vw;
    }
}

/************/ 
/************/ 

.bgNTRh {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-top: 25vh solid rgb(240, 230, 246);
    top: 0px;
    border-right: 100vw solid transparent;
    left: 0px;
}

@media only screen and (min-width: 768px){
    .bgNTRh {
        border-top-width: 20vh;
        border-right-width: 100vw;
    }
}
/************/ 
/************/ 


.jSPVkD {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-top: 80vh solid rgb(255, 64, 129);
    top: 0px;
    border-left: 100vw solid transparent;
    right: 0px;
}

@media only screen and (min-width: 768px) {
    .jSPVkD {
        border-top-width: 80vh;
        border-left-width: 100vw;
    }
}

/************/ 
/************/ 

.CHkEh {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-top: 50vh solid rgb(255, 255, 255);
    top: 0px;
    border-left: 50vw solid transparent;
    right: 0px;
}


@media only screen and (min-width: 768px) {
    .CHkEh {
        border-top-width: 20vh;
        border-left-width: 50vw;
    }
}

/************/ 
/************/ 

.cWoKIg {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-bottom: 25vh solid rgb(124, 55, 173);
    bottom: 0px;
    border-left: 75vw solid transparent;
    right: 0px;
}

@media only screen and (min-width: 768px) {
    .cWoKIg {
        border-bottom-width: 40vh;
        border-left-width: 60vw;
    }
}


/************/ 
/************/ 

.daXROC {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-bottom: 25vh solid rgb(240, 230, 246);
    bottom: 0px;
    border-left: 100vw solid transparent;
    right: 0px;
}

@media only screen and (min-width: 768px) {
    .daXROC {
        border-bottom-width: 20vh;
        border-left-width: 100vw;
    }
}

/************/ 
/************/

.fJCtjV {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-top: 15vh solid rgb(240, 230, 246);
    top: 0px;
    border-right: 100vw solid transparent;
    left: 0px;
}

@media only screen and (min-width: 768px) {
    .fJCtjV {
        border-top-width: 10vh;
        border-right-width: 100vw;
    }
}

/************/ 
/************/ 

.kAyYxC {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-bottom: 50vh solid rgb(255, 64, 129);
    bottom: 0px;
    border-right: 70vw solid transparent;
    left: 0px;
}

@media only screen and (min-width: 768px) {
    .kAyYxC {
        border-bottom-width: 40vh;
        border-right-width: 40vw;
    }
}

/************/ 
/************/ 

.bBTNjf {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -2;
    border-bottom: 40vh solid rgb(124, 55, 173);
    bottom: 0px;
    border-left: 100vw solid transparent;
    right: 0px;
}

@media only screen and (min-width: 768px) {
    .bBTNjf {
        border-bottom-width: 15vh;
        border-left-width: 100vw;
    }
}

/************/ 
/************/ 

